.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.mr-2 {
  margin-right: 16px;
}
.mb-2 {
  margin-bottom: 16px;
}

.btn-circle {
  border-radius: 50% !important;
}

.border-0 {
  border: 0;
}

.keterangan {
  margin-left: -24px;
}
.keterangan:hover {
  background-color: transparent;
  color: black; 
}